#main,
body.overlay {
  background-color: #fef8dd;
  color: #003cff; }

.wrapper {
  width: 100%;
  display: flex; }

.wrapper .content-visible {
  width: 70%;
  /*overflow: hidden; Removed for Superfish */ }

.wrapper .sidebar-first-visible {
  width: 30%;
  /*overflow: hidden; Removed for Superfish */ }

.right {
  text-align: right; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.bgimg {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  color: yellow; }

/* .myblocks{
  width:100%;
  height:200px;
  display:flex;
  color:white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.myblocks .city{
  width:50%;
}

.myblocks .desc{
  width:50%;
}

.blockwrapper{
  width:100%;
  background-color: pink;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.blockwrapper .blockchild{
  width:20%;
  border: 2px solid black;
   border-right: 4px solid black;
  border-bottom: 4px solid black; 
} */
