#main,
body.overlay {
  background-color: #fef8dd;
  color:rgb(0, 60, 255);
}

.wrapper {
  width: 100%;
  display: flex; }
  
.wrapper{
  .content-visible {
  width: 70%;
  /*overflow: hidden; Removed for Superfish */ }
  }
.wrapper{
  .sidebar-first-visible {
  width: 30%;
  /*overflow: hidden; Removed for Superfish */ }
  }

.right {
  text-align: right }

.center {
  text-align: center }

.left {
  text-align: left }  

.bgimg {
  width: 100%; 
  height:400px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  background-repeat: no-repeat; 
  color: yellow;
}

.myblocks{
  width:100%;
  height:100px;
  display:flex;
}

.myblocks{
  .city{
  width:50%;
  background-color: pink;
  }
}

.myblocks{ 
  .desc{
  width:50%;
  background-color: blue;
  }
}

.blockwrapper{
  width:100%;
  display:flex;
}

.blockwrapper{ 
  .blockchild{
  display: inline-block;
  background-color: red;
  }
}