#main,
body.overlay {
  background-color: #fef8dd;
  color:rgb(0, 60, 255);
}

.wrapper {
  width: 100%;
  display: flex; }
  
.wrapper{
  .content-visible {
  width: 70%;
  /*overflow: hidden; Removed for Superfish */ }
  }
.wrapper{
  .sidebar-first-visible {
  width: 30%;
  /*overflow: hidden; Removed for Superfish */ }
  }

.right {
  text-align: right }

.center {
  text-align: center }

.left {
  text-align: left }  

.bgimg {
  width: 100%; 
  height:400px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  background-repeat: no-repeat; 
  color: yellow;
}