<!-- gets drop down :center/right/left, i.e., selected option -->
{% set drop = content.field_drop[0]['#markup'] %}
<!-- for alignment -->
<div{{ content_attributes.addClass(drop) }}>
  {{ content.field_textfield }}
  </div>
  {{ content.field_drop }}
 

