{% if (page.sidebar_first) %}
    <div class="wrapper">
        <div class="content-visible">
          {{ page.content }}
        </div>
        <div class="sidebar-first-visible">
          {{ page.sidebar_first }}
        </div>
    </div>
{% else %}
        <div class="wrapper">
            {{ page.content }}
        <div>    
{% endif %}